:root {
    --color-blue: #125784;
    --color-orange: #f57f17;
    --color-purple: #5e35b1;
}
  

html {
    font-size: 62.5%;
    color: white;
}

body {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

.Search {
    background-color: white;
    border: none;
    cursor: pointer;
    height: 2rem;
    margin: auto 0;
    margin-right: 1rem;
    width: 13rem;
    text-align: start;
}

.header {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-blue);
}

.logo {
    height: 10rem;
    width: 10rem;
    margin-left: 4rem;
}

.footer-logo {
    height: 10rem;
    width: 10rem;
    margin-right: 1rem;
    margin-left: 2rem;
}

.nav-links {
    margin: auto 0;
}

.nav-menu {
    width: 20rem;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.footer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.footer-article {
    color: white;
}

.final-exam {
    position: relative;
    margin: 0;
}

.exam-info {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 40%;
    font-size: 2.5rem;
}

.exam-image {
    width: 100%;
    height: 50rem;
    background-size: attach;
    filter: brightness(0.5);
}

.second-part {
    display: flex;
    height: 30rem;
}

.second-part-content {
    padding-left: 2rem;
    background-color: var(--color-orange);
}

.images-part {
    display: flex;
    height: 52rem;
}

.form-part {
    background-color: var(--color-purple);
}